*.o
.dirstamp
*.a
.deps
ExaBayes_*
aclocal.m4
autom4te.cache
consense
credibleSet
extractBips
parser-exabayes
postProcParam
src/stamp-h1
sdsf
/src/releaseDate.hpp
/yggdrasil
/config.guess
/config.log
/config.status
/config.sub
/configure
/compile_commands.json
/exatest
/install-sh
/exabayes
/missing
/src/config.h
/src/config.h.in
/depcomp
/Makefile
/Makefile.in
/lib/ncl-2.1.18/Makefile.in
/lib/ncl-2.1.18/config.h.in
/lib/ncl-2.1.18/config.h.in~
/lib/ncl-2.1.18/config.log
/lib/ncl-2.1.18/config.status
/lib/ncl-2.1.18/config/config.guess
/lib/ncl-2.1.18/config/config.sub
/lib/ncl-2.1.18/config/depcomp
/lib/ncl-2.1.18/config/install-sh
/lib/ncl-2.1.18/config/missing
/lib/ncl-2.1.18/ncl/Makefile
/lib/ncl-2.1.18/ncl/Makefile.in
/lib/ncl-2.1.18/stamp-h1
/src/config.h.in~
/compile
/manual/missfont.log
/manual/manual.dvi
/manual/manual.html~
/manual/manual.html
/manual/manual.pdf
/manual/manual.tex
/manual/manual-blx.bib
/manual/texput.log
/manual/index.html
/manual/library2_bib.html
/manual/library2.html
/manual/manual.log
/manual/manual.out
/manual/manual.toc
/manual/manual.bbl
/manual/manual.blg
/manual/manual.aux
