*.o
.dirstamp
*.a
.deps
ExaBayes_*
aclocal.m4
autom4te.cache
consense
credibleSet
extractBips
parser-exabayes
postProcParam
src/stamp-h1
sdsf
/src/releaseDate.hpp
/yggdrasil
/config.guess
/config.log
/config.status
/config.sub
/configure
/compile_commands.json
/exatest
/install-sh
/exabayes
/missing
/src/config.h
/src/config.h.in
/depcomp
/Makefile
/Makefile.in
/lib/ncl-2.1.18/Makefile.in
/lib/ncl-2.1.18/config.h.in
/lib/ncl-2.1.18/config.h.in~
/lib/ncl-2.1.18/config.log
/lib/ncl-2.1.18/config.status
/lib/ncl-2.1.18/config/config.guess
/lib/ncl-2.1.18/config/config.sub
/lib/ncl-2.1.18/config/depcomp
/lib/ncl-2.1.18/config/install-sh
/lib/ncl-2.1.18/config/missing
/lib/ncl-2.1.18/ncl/Makefile
/lib/ncl-2.1.18/ncl/Makefile.in
/lib/ncl-2.1.18/stamp-h1
